
.header{

}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  background-color: #fff;
  z-index: 2;
  height:50px;

  @include breakpoint($navBreakpoint){
    position: fixed;
    width: 100%;
  }

  &__list{
    display: flex;
    column-gap:20px;
    @include breakpoint($navBreakpoint){
      //padding-top:2.5rem;
      flex-direction: column;
      text-align: center;
      justify-content: start;
      margin: 0 auto;
    }
  }

  &__menu {
    overflow: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;


    &.active{
      @include breakpoint($navBreakpoint){
        flex-wrap: wrap;
        left: 0;
        height: 100%;
        justify-content: start;
      }
    }

    @include breakpoint($navBreakpoint){
      height: 100%;
      position: fixed;
      left: -100%;
      top:0;
      background-color: #fff;
      width: 100%;
      transition: 0.3s;
      box-shadow:0 10px 27px rgba(0, 0, 0, 0.05);
    }
  }

  &__item {
    @include breakpoint($navBreakpoint){
      margin:2.5rem 0;
    }
  }

  &__link{
    color: #000;

    &:hover{
      color: #000;
    }
  }

  &__logo {

  }
}

.hamburger {
  display: none;
  background-color: unset;
  &:focus{
    //background-color: tomato;
  }
  @include breakpoint($navBreakpoint){
    display: flex;
    flex-direction:column;
    row-gap: 5px;
    cursor: pointer;

    &.active .hamburger__bar:nth-child(2) {
      opacity: 0;
    }
    &.active .hamburger__bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }
    &.active .hamburger__bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }
  }

  &__bar {
    display: block;
    width: 25px;
    height: 3px;
    transition: all 0.3s ease-in-out;
    background-color: #000;
  }
}




