<div class="tabs">
    <div class="tabs__panel">
        <button class="tabs__link" onclick="openTab(this, 'tab1');" id="defaultTab">London</button>
        <button class="tabs__link" onclick="openTab(this, 'tab2');">Paris</button>
        <button class="tabs__link" onclick="openTab(this, 'tab3');">Tokyo</button>
    </div>
    <div id="tab1" class="tabs__content tab-item">
        <h3 class="tab-item__title">London</h3>
        <p class="tab-item__txt">London is the capital city of England.</p>
    </div>
    <div id="tab2" class="tabs__content tab-item">
        <h3 class="tab-item__title">Paris</h3>
        <p class="tab-item__txt">Paris is the capital of France.</p>
    </div>

    <div id="tab3" class="tabs__content tab-item">
        <h3 class="tab-item__title">Tokyo</h3>
        <p class="tab-item__txt">Tokyo is the capital of Japan.</p>
    </div>
</div>