<header class="header">
    <div class="content">
        <nav class="nav" aria-label="Open menu" role="navigation">
            <a href="#" class="nav__logo">WebDev.</a>
            <div class="nav__menu" id="nav-menu">
                <ul class="nav__list">
                    <li class="nav__item">
                        <a href="#" class="nav__link">Services</a>
                    </li>
                    <li class="nav__item">
                        <a href="#" class="nav__link">Blog</a>
                    </li>
                    <li class="nav__item">
                        <a href="#" class="nav__link">About</a>
                    </li>
                    <li class="nav__item">
                        <a href="#" class="nav__link">Contact1</a>
                    </li>
                </ul>
            </div>

            <button type="button" class="hamburger" aria-haspopup="true" aria-controls="nav-menu" aria-expanded="true">
                <span class="hamburger__bar"></span>
                <span class="hamburger__bar"></span>
                <span class="hamburger__bar"></span>
            </button>
        </nav>
    </div>
</header>