<label class="radio__item">
    <span class="text">text</span>
    <input type="radio" name="radio" class="radio__input" />
    <span class="fake"></span>
</label>
<label class="radio__item">
    <span class="text">text</span>
    <input type="radio" name="radio" class="radio__input" />
    <span class="fake"></span>
</label>

<label class="checkbox__item">
    <span class="text">text</span>
    <input type="checkbox" name="checkbox" class="checkbox__input" />
    <span class="fake"></span>
</label>