.form{
  width: 100%;
  display: flex;
  flex-direction:column;
  align-items: center;

  &__step-numbers{
    display: flex;
  }
  &__step-number{
    display: none;
    &.active-number{
      display: block;
    }
  }

  &__step{
    display: none;
    &.active{
      display: block;
    }
  }
}

.progress{
  &__bar{
    display: flex;
    width: 400px;
    height:20px;
    border-radius: 20px;
    border:1px solid #000;
    text-align:center;
    position:relative;
  }
  &__value{
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform:translate(-50%, -50%);
  }
}