<form class="steps__form form">
    <div class="progress">
        <div class="progress__bar">
            <p class="progress__value">0%</p>
        </div>
    </div>
    <div class="form__step-numbers">
        <div class="form__step-number active-number">
            <span>1</span>
        </div>
        <div class="form__step-number">
            <span>2</span>
        </div>
        <div class="form__step-number">
            <span>3</span>
        </div>
        <div class="form__step-number">
            <span>4</span>
        </div>
        <div class="form__step-number">
            <span>5</span>
        </div>
    </div>
    <div class="form__steps">
        <div class="form__step active">Form step 1</div>
        <div class="form__step">Form step 2</div>
        <div class="form__step">Form step 3</div>
        <div class="form__step">Form step 4</div>
        <div class="form__step">Form step 5</div>
    </div>
    <div class="form__btns">
        <button class="form__btn form__btn--prev" type='button'>prev</button>
        <button class="form__btn form__btn--next" type='button'>next</button>
    </div>
</form>